{% extends "::base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block header %}header della pagina{% endblock %}
{% block sidebar %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
{% endblock %}
{% block body %}
    <h1>{{ gelateria_nome }}</h1>
    <ul>
        {% for gusto in gelateria_gusti %}
            <li>{{ gusto }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block footer %}Copy mio{% endblock %}
